__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/

tmp_*
data?
data??
scripts2

model_cache

logs
videos
images
*.mp4

vis_data*/
logs*/
data*/
eval_data*/


*.sh
*.out
batchscript*

pretrained/
diff-gaussian-rasterization/